@(doc: DocumentViewModel)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="@routes.Assets.at("/public", "stylesheets/bootstrap.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("/public", "stylesheets/main.css")">
    <link rel="stylesheet" href="@routes.Assets.at("/public", "stylesheets/fontawesome-5.6.3/css/all.css")">
    <title>File Upload</title>
</head><body>

<!-- Navbar HEADER -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark" id="appmenuNav">
    <span class="navbar-brand">
        <img src="@routes.Assets.at("/public", "images/tap-logo.png")" height="32" width="32"/>&nbsp;The Text Analyzer Platform
    </span>
    <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a class="nav-link active" href="documentoverview.html">Documents</a></li>
            <li class="nav-item"><a class="nav-link" href="topic_view.html">Topics</a></li>
            <li class="nav-item"><a class="nav-link" href="#" style="padding-right: 10px;">Help</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>&nbsp;
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small">Georgios Andreadakis</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Settings</a>
                    <a class="dropdown-item" href="#">Account</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- CONTENT -->
<main role="main">
    <div class="container-fluid">

        <!-- Breadcrumbs -->
        <div class="d-flex justify-content-between">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" aria-current="page"><a href="documentoverview.html">Documents</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Upload</li>
                </ol>
            </nav>
            <a href="@routes.DocumentController.documentList()" role="button" class="btn btn-primary col-2">Go to document list</a>
        </div>

        <!-- Import -->
        <p>Please select a text file and press the import button.</p>
        @helper.form(
            action = routes.FileUploadController.upload,
            'enctype -> "multipart/form-data",
            'class -> "col-sm-9 form-inline form-horizontal") {
            <div class="form-group uploadform">
                <div class="custom-file col-sm-6">
                    <input type="file" class="custom-file-input" name="fileToImport" id="fileref" >
                    <label class="custom-file-label" for="fileref">Choose file ...</label>
                </div>
                <div class="custom-file col-sm-2">
                    <button type="submit" id="uploadSubmit" class="btn btn-primary">Start Import</button>
                </div>
            </div>
            <small class="col-sm-11 uploadhint">Supported formats: only Word files with a single paragraph.</small>
        }

        <!-- Result -->
        @if(doc != null) {
            <h5 style="margin-top: 30px;
                margin-bottom: 10px;">Upload successful</h5>
            <div class="card col-5" style="padding: 0;">
                <div class="card-header"><h6><b>File:</b>&nbsp;&nbsp;@doc.filename</h6></div>
                <div class="card-body">
                    <p class="card-text">
                        @doc.excerptFirstElement<br/>@doc.excerptSecondElement
                    </p>
                </div>
            </div>
        }
    </div>
</main>
    <!-- Optional JavaScript -->
    <script src="@routes.Assets.at("/public", "javascripts/jquery-3.3.1.min.js")"></script>
    <script src="@routes.Assets.at("/public", "javascripts/popper.min.js")"></script>
    <script src="@routes.Assets.at("/public", "javascripts/bootstrap.min.js")"></script>
    <script src="@routes.Assets.at("/public", "javascripts/tap-fileupload.js")"></script>
</body></html>
