@(filename: String, doc: DocumentViewModel, storedDocs: List[DocumentViewModel])

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>The Text Analyzer Platform</title>
        <link rel="stylesheet" href="@routes.Assets.at("/public", "stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("/public", "stylesheets/main.css")">
        <link rel="stylesheet" href="@routes.Assets.at("/public", "stylesheets/fontawesome-5.6.3/css/all.css")">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Welcome to the Text Analyzer Platform</h1>
                    <p>
                        The Text Analyzer Platform allows users to gather documents, extract the information in a text
                        and enhance their knowledge. The project is in an early incubating phase.
                        So behavior and layout of the application will probably change from release to release.
                    </p>
                </div>
            </div>

            <!-- Upload form -->
            <div class="row">
                <div class="col-sm-12">
                    <h2>Upload text file</h2>
                    <p>Please select a text file and press the import button.</p>
                </div>
            </div>
            <div class="row">
            @helper.form(
                action = routes.FileUploadController.upload,
                'enctype -> "multipart/form-data",
                'class -> "col-sm-9 form-inline form-horizontal") {
                <div class="form-group">
                    <div class="custom-file col-sm-6">
                        <input type="file" class="custom-file-input" name="fileToImport" id="fileref" >
                        <label class="custom-file-label" for="fileref">Choose file ...</label>
                    </div>
                    <div class="custom-file col-sm-2">
                        <button type="submit" id="uploadSubmit" class="btn btn-primary">Start Import</button>
                    </div>
                    <small>Supported formats: only Word files with a single paragraph.</small>
                </div>
            }
            </div>

            <!-- Overview of the stored documents -->
            <div class="row">
                <div class="col-sm-12">
                    <h2>Stored Documents</h2>
                    <p>An overview of currently stored documents.</p>
                </div>
                <div class="col-sm-12">@documents_compact_overview(storedDocs.sortWith(_.filename < _.filename))</div>
            </div>
        </div>

        <script src="@routes.Assets.at("/public", "javascripts/jquery-3.3.1.min.js")"></script>
        <script src="@routes.Assets.at("/public", "javascripts/popper.min.js")"></script>
        <script src="@routes.Assets.at("/public", "javascripts/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("/public", "javascripts/tap-fileupload.js")"></script>
    </body>
</html>
