@(section: SectionViewModel, parentId: String)

<div class="card">
    <div class="card-header" id="@section.htmlId">
        <a
        class="btn btn-link collapsed"
        type="button" data-toggle="collapse"
        data-target="#collapse@section.htmlId"
        aria-expanded="false"
        aria-controls="collapse@section.htmlId">
            <@section.level class="text-primary">@section.title</@section.level>
        </a>
    </div>
    <div id="collapse@section.htmlId" class="collapse" aria-labelledby="@section.htmlId" data-parent="#@parentId">
        <div class="card-body">
            @elementcontainer(section, section.htmlId())
        </div>
    </div>
</div>
